<div class="container-fluid" style="margin-top: 10px">

    <div id="login" class="centerClass">
        <h1 class="h1lgn">Login</h1>
        <form class="formClass">
            <input type="text" name="email" placeholder="Enter your mail"><br><br>
            <input type="password" name="pass" placeholder="Password"><br><br>
            <button type="button" class="button">Sign in</button>
            <label style="font-family: 'Palatino Linotype'; font-size: 12px">Don't have an account <a href="signUp">Sign Up?</a></label>
        </form>
    </div>

</div>