<div class="container-fluid" style="margin-top: 10px">

    <div id="login" class="centerClass">
        <h1 class="h1lgn">Sign Up</h1>
        <form class="formClass">
            <input type="text" name="fname" placeholder="Enter your First Name"><br><br>
            <input type="text" name="lname" placeholder="Enter your Last Name"><br><br>
            <input type="text" name="email" placeholder="Enter your mail"><br><br>
            <input type="password" name="pass" placeholder="Enter Password"><br><br>
            <button type="button" class="button">Sign Up</button>
            <label style="font-family: 'Palatino Linotype'; font-size: 12px">You have an account <a href="./">Login?</a></label>
        </form>
    </div>

</div>

learned bootstrap as well.